{% if true %}
    <consent-wall previewImageUrl="{{ data.poster }}" requiredConsents="{{ services|json_encode }}" class="aspect-w-16 aspect-h-9 rounded overflow-hidden">
    <media-player>
    {% if data.poster %}<media-poster class="vds-poster" src="{{ data.poster }}"></media-poster>{% endif %}
    <media-provider>
    {% for source in data.sources %}<source src="{{ source.src }}" type="{{ source.type }}" />{% endfor %}
    </media-provider>
    <media-video-layout></media-video-layout>
    <media-audio-layout></media-audio-layout>
    </media-player>
    </consent-wall>
    {% if data.copyright %}
        <div class="mt-1 text-gray-400 text-sm flex justify-end">© {{ data.copyright }}</div>
    {% endif %}
{% endif %}
<div class="my-12"></div>
